#h1 {
  color: white;
  text-align: center;
  font-size: 34px;
}
body {
  background-image: url("../images/image1.jpg");
  text-align: center;
  background-size: auto;
  padding: 8px;
}
#button {
  color: white;
  font-size: 20px;
}
