h1 {
  color: white;
  text-align: center;
  font-size: 34px;
  font-style: obligue;
}
body {
  background-image: url("../images/image1.jpg");
  text-align: center;
  background-size: cover;
  padding: 8px;
}
.we {
  color: white;
}
#button {
  color: white;
  font-size: 20px;
}
#style {
  color: white;
  font-size: 19px;

}
#text-box {
  font-size: 20px;
  font-style: italic;
  text-transform: capitalize;
  color: pink;
  border-style: solid grey;
  padding: 5px;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 30px;
}
#a {
    border: 2px solid #DB7093; /* palevioletRed */
    border-radius: 30px;
    color: black;
    padding: 18px;
    background-color: pink;
}
#b {
    border: 2px solid #DB7093; /* palevioletRed */
    border-radius: 30px;
    color: black;
    padding: 18px;
    background-color: pink;
}
#c {
    border: 2px solid #DB7093; /* palevioletRed */
    border-radius: 30px;
    color: black;
    padding: 18px;
    background-color: pink;
}
#result {
  padding: 7px;
  border: 2px solid skyblue;
  border-radius: 20px;
  background-color: white;
  color: black;
}
#output {
  color: white;
  text-align: right;
}
#footer {
  color: crimson;
  padding: 15px;
}
