#h1 {
  color: white;
  text-align: center;
  font-size: 34px;
}
body {
  background-image: url("../images/image2.jpg");
  text-align: center;
  background-repeat: cover;
  padding: 8px;
}
#button {
  color: white;
  font-size: 20px;
}
#style {
  color: white;
  font-size: 20px;

}
#text-box {
  font-size: 20px;
  font-style: italic;
  text-transform: capitalize;
  color: pink;
  border-style: solid grey;
  padding: 5px;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 30px;
}
#side1 {
    border: 2px solid #DB7093; /* palevioletRed */
    border-radius: 30px;
    color: black;
    padding: 18px;
    background-color: pink;
}
#result {
  padding: 7px;
  border: 2px solid skyblue;
  border-radius: 30px;
  background-color: black;
  color: white;
}
#output {
  color: white;
  text-align: right;
}
#footer {
  color: crimson;
  padding: 15px;
}
